.user-dashboard {
    min-height: 100vh;
    background-image: url('/assets/book-bottom.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 20px;
  }
  
  .user-dashboard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    z-index: 1;
  }
  
  .h1, h2{
    margin-left: 20px;
  }
  
  mat-card {
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
 
  
  .user-dashboard label,
 
  .user-dashboard td,
  .user-dashboard th {
    color: black !important;
  }
  
  mat-form-field {
    color: black !important;
  }
  
  table {
    width: 100%;
    background-color: white;
  }

  p{
    margin-left: 10px;;
  }

  .right{
    margin-left: 10px;
  }
  
  